.screen {
    background-color: #fafafa;
}

.hamburger-card {
    top: 24px;
    left: 24px;
    width: 330px;
    height: 852px;
    background-color: #f4f4f4;
    border-radius: 16px;
}
  
  

  
  
  