.screen {
    background-color: #ffffff;
}

.card {
    top: 0px;
    left: 0px;
    width: 88px;
    height: 900px;
    background-color: #f0f0f0;
}

.calender_card {
    top: 160px;
    left: 136px;
    width: 444px;
    height: 272px;
    background-color: #f0f0f0;
}
  
.urgent_task_card {
    top: 160px;
    left: 604px;
    width: 788px;
    height: 272px;
    background-color: #f0f0f0;
}

.search_task_input {
    top: 56px;
    left: 605px;
    width: 587px;
    height: 64px;
    padding: 0px 8px;
    border: 1px solid #d6d6db;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.8);
    color: #1d1d1f;
    font-size: 20px;
    font-family: "Poppins";
    line-height: 26px;
    outline: none;
}
  
  