body,html {
    font-family: 'Lexend Deca';
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

.todo-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 80px;
    right: 80px;
    width: 90%;
    min-height: 420px;
    background-color: rgba(250,250,250,1);
    border: 2px solid #ebebeb;
    border-radius: 8px;
    padding: 0px 45px 25px;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
}

.todo-container.expanded {
    margin-left: 370px;
    width: 70%;
}

.todo-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}
.arrow-btn{
    position: absolute;
    right: 0;
    background-image: url('icons/Icon right arrow.svg');
    background-color: rgba(250,250,250,1);
    rgba(250,250,250,1);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.todo-list li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    font-size:x-large;
}

.todo-list li:last-child {
    border-bottom: none;
}

.Today-Headings {
    font-size: 60px;
}

#dayOfMonth {
    border: 1px solid #838181;
    border-radius: 8px;
    padding: 5px;
}

.header {
    display: flex;
    align-items: center;
}

/*
 * HAMBURGER MENU
 */

.hamburger {
    position:absolute;
    top: 50px;
    left: 24px;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Lexend Deca';
    z-index: 2;
    background-image: url('icons/Icon_bars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.hamburger.expanded {
    left: 325px;
}


/*
 * LEFT GRAY MENU CARD
 */
.menu-card {
    position:absolute;
    width: 0;
    height: 870px;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1;
    background-color: #f4f4f4;
    border-radius: 16px;
}

.menu-card.expanded {
    top: 24px;
    left: 24px;
    width: 300px;
    height: 870px;
    background-color: #f4f4f4;
    padding: 25px; 
    transform: translateX(0);
    padding-top: 0;
}


.menu-title {
    display: none;
    font-family: 'Lexend Deca';
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

.menu-card.expanded .menu-title {
    display: block;
    margin-left: 10px;
}


/*
 * Search bar
 */

.search-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Add a search icon next to the left of the placeholder text */
.search-icon {
    position: absolute;
    border: none;
    background: transparent;
    /* additional styling for the icon */
    /* grab the background image from the svg */
    background-image: url('icons/Icon search.svg');
    /* adjust the size of that image */
    background-size: 30px;
    margin-left: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search-input {
    width:100%;
    padding-left: 40px;
    height: 40px;
    font-family: 'Lexend Deca'; /* Apply the Google Font */
    font-size: 20px;
    /* additional styling for the input */
    border-radius: 8px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}

/* adjust size for placeholder search text */
.search-input::placeholder {
    font-family: 'Lexend Deca';
    font-size: 20px;
    line-height: 40px;
}



/*
 * TASK SECTION
 */
.Tasks-menu-selection {
    list-style-type: none;
}


/*
 * LISTS SECTION
 */
 .Lists-menu-selection {
    list-style-type: none;
 }

 /*
 * TAGS SECTION
 */

.Tags-menu-selection {
    list-style-type: none;
}


/*
 * ADD TASK SECTION
 */



input[type="checkbox"] {
    margin-right: 10px;
}

.add-task-container {
    align-items: center;
    position: relative;
    border: 1px solid transparent;
    width: 100%;
    margin:auto;
    /* box-sizing: border-box; */
}

.add-task-container input[type="text"] {
    top: 120px;
    width: 100%;
    height: 48px;
    background-color: rgba(250,250,250,0);
    border-radius: 8px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    padding-left: 60px;
    font-family: 'Lexend Deca';
    font-size: x-large;
}

.add-task-container input[type="text"]:hover {
    box-shadow: 0 0 10px rgba(0,0,0,025);
}

.add-task-container input[type="text"]:focus {
    outline: none;
}

.add-task-container button {
    position: absolute;
    left: 10px;
    top: 44%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 6px;
    border: none;
    border-radius: 50%;
    background-color: rgba(250,250,250,0);
    color: gray;
    font-size: 45px;
    cursor: pointer;
    font-family: 'Lexend Deca';
}

.add-task-container input[type="text"], .add-task button {
    line-height: 40px;
}