@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --color-gray: #f4f4f4;
    --color-white: #ffffff;
    --color-dark-gray: #444444;
    --color-light-gray: #e1e1e1;
    --color-black: #090909;
    --sidebar-width: 15.625rem;
    --sidebar-collapsed-width: 3.125rem;
    --gray-card-width: 20.625rem;
    --gray-card-height: 53.25rem;
}

*, body {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-color: var(--color-gray);
}

.container, .add-task-container {
    display: flex;
    align-items: center;
}

.sidebar {
    position: relative;
    width: var(--sidebar-collapsed-width);
    transition: width 0.3s ease;
}

.sidebar.expanded {
    width: var(--sidebar-width);
}

.sidebar.expanded .today-date,
.sidebar.expanded .add-task-ui,
.sidebar.expanded .content {
    transform: translateX(var(--gray-card-width));
    transition: transform 0.3s ease;
}

.sidebar:not(.expanded) .gray-card {
    transform: translateX(calc(-1 * var(--gray-card-width)));
}

.gray-card {
    position: absolute;
    width: var(--gray-card-width);
    height: var(--gray-card-height);
    margin-top: -2.90rem;
    background-color: var(--color-light-gray);
    border-radius: 1rem;
    padding: 0.625rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header, .Today, .day_number, .task-section, .add-task-container, .new-task-input, .add-task-button, .icon {
    font-family: "Lexend Deca", sans-serif;
    color: #212529;
}


