.todo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    flex: 1;
    min-height: 50vh; /* Adjust this value as needed */
    max-height: 100vh; /* Adjust this value as needed */
    background-color: rgba(250, 250, 250, 1);
    border: 2px solid #ebebeb;
    border-radius: 8px;
    padding: 0px 45px 25px;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
    margin-left: 5%; /* Adjust this value as needed */
    margin-bottom: 500px;
    margin-right: 25px;
    width: calc(100% - 5%);
}

.hidden {
    display: none;
}

li.completed label {
    text-decoration: line-through;
}

.todo-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    max-height: 300px; /* Adjust this value based on the height of your tasks */
    overflow-y: auto;
}

.arrow-btn {
    position: absolute;
    right: 15px;
    background-image: url('../icons/Icon right arrow.svg');
    background-color: rgb(250, 250, 250, 1);
    border: 1px solid rgba(250, 250, 250, 1);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.app-container {
    display: flex;
}

.todo-list li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.todo-list li:last-child {
    border-bottom: none;
}

.todo-list input[type="checkbox"] {
    cursor: pointer;
}

.todo-list.overflow {
    height: 300px; /* Adjust this value as needed */
    overflow-y: scroll;
    direction: rtl; /* Add this line */
}

.todo-list.overflow li {
    direction: ltr; /* Add this line */
}

.task-completed {
    text-decoration: line-through;
}
